#activities {
    background-color: rgb(2, 70, 147);
    color: rgb(255, 255, 255);
    padding: 5% 5%;
}
#est{
    color: rgb(2, 70, 147);
    font-weight: 600;
}
#info {
    margin: 2% 5%;
}
#contact {
    padding: 2% 0%;
    background-color: rgb(203, 196, 159);
    height: 200px;
}
#emails {
    padding: 0% 7%;
    line-height: 80%;
}

#brhs-logo {
    width: 200px;
    height: 200px;
}

#code-logo{
    width: 300px;
    height: 300px;
}

#nav-logo {
    width: 80px;
    height: 80px;
}

.main-nav{
    background-color: rgb(2, 70, 147);
}

.nav-item > a{
    color:white;
}

#jumbo{
    background-color: rgb(203, 196, 159);
}

#jumbotext{
    font-family: 'Courier New';
    font-family: 'Times New Roman';
}




/**         About Us            **/
#about-heading {
    text-align: center;
    padding: 2% 0%;
}
#advisor {
    padding-top: 3%;
    padding-left: 5%;
    height: 270px;
    background-color: rgb(83, 152, 237);
}
#advisor-img {
    width: 200px;
    height: 200px;
}
#pfp1{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
.pfp{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
#pfp2{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
#pfp3{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
#pfp4{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
#pfp5{
    margin-top: 10%;
    margin-left: 5%;
    width: 200px;
    height: 200px;
}
#profile1 {
    padding-left: 8%;
    padding-top: 10%;
    background-color: beige;
    height: 350px;
}
#profile2 {
    padding-left: 5%;
    padding-top: 10%;
    background-color: rgb(209, 240, 255);
    height: 350px;
}
#profile3 {
    padding-left: 8%;
    padding-top: 10%;
    background-color: rgb(209, 240, 255);
    height: 350px;
}
#profile4 {
    padding-left: 5%;
    padding-top: 10%;
    background-color: beige;
    height: 350px;
}
#profile5 {
    padding-left: 8%;
    padding-top: 10%;
    background-color: beige;
    height: 470px;
}
#profile6 {
    background-color: rgb(209, 240, 255);
}

/**         Resources           **/
#acsl{
    background-color: blanchedalmond;
    padding: 3% 6%;
}
#java-heading {
    margin: 2% 0%;
}
#resource-heading {
    margin: 2% 0%;
}




